{% extends 'template.html' %}
{% block content %}

<form method="post">
  <div class="input-group">
    <input type="text" name="forename" class="form-control" placeholder="First name" value="{{form.get('forename')}}"/>
    <span class="input-group-addon">-</span>
    <input type="text" name="surname" class="form-control" placeholder="Surname" value="{{form.get('surname')}}"/>
  </div>
  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" name="email" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" value="{{form.get('email')}}">
    <small id="emailHelp" class="form-text text-muted">Your email will be visible to others.</small>
  </div>
  <fieldset>
    <legend>Date of birth</legend>
    <div class="input-group">
      <input type="text" name="dob_day" class="form-control" placeholder="Day" value="{{form.get('dob_day')}}"/>
      <span class="input-group-addon">/</span>
      <input type="text" name="dob_month" class="form-control" placeholder="Month" value="{{form.get('dob_month')}}"/>
      <span class="input-group-addon">/</span>
      <input type="text" name="dob_year" class="form-control" placeholder="Year" value="{{form.get('dob_year')}}"/>
    </div>
  </fieldset>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="passwordConfirmInput">Confirm Password</label>
    <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirmInput" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Sign me up</button>
</form>

<p>Please note that these details will be visible publicly. It is advised that you <b>do not</b> use your real email address.</p>

{% endblock %}
