{% extends 'template.html' %}
{% block content %}
<p>Hello there.  Would you like to <a href="/users/signup">signup</a>?</p>
<p>See <a href="/users/list">existing members</a> - you may even add your name to the list!</p>
{% endblock %}
