{% extends 'template.html' %}
{% block content %}

{% if users %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Date of Birth</th>
    </tr>
  </thead>
  <tbody>
{% for user in users %}
    <tr>
      <td>{{ user.key.id() }}</td>
      <td>{{ user.forename }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.date_of_birth }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    No users were found.
{% endif %}

{% endblock %}
